<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.app__heading {
    padding-top: 2%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #5f1b00;
    word-break: break-all;
}

a {
color: white;
}

.smurl{
    text-align: center;
    color: yellow;
    }

.app__url-converter {
    width: 70%;
    margin: auto;;
    padding: 5%;
}

input {
    max-width: 100%;
    padding: 10px;
    font-size: 18px;
    position: inherit;
    display: block;
    width: -webkit-fill-available;
    border: 0px;
}

button {
    margin-top: 10px;;
    width: 100%;
    padding: 11px;
    font-size: 26px;
    background: #5f1b00;
    color: #fff;
    border: 0px;
}
button:hover{
    background: red;
}
button:active{
    color: black;
}
    </style>
    <title>Statistics</title>
</head>
    <body>
        <div class="app__container">
            <div class="app__heading">
                <h1><a href="http://localhost:1234">SMURL - service to shortify long urls</a></h1>
            </div><br>
            <br>
            <div>
            <h2>Small URL: <h2 class="smurl">{{.SmallURL}}</h2></h2>
            <h2>Long URL: <h2 class="smurl">{{.LongURL}}</h2></h2>
            <h2>Admin URL: <h2 class="smurl">{{.AdminURL}}</h2></h2>
            <h2>Count: <h2 class="smurl">{{.Count}}</h2></h2>
            <h2>IPInfo: <h2 class="smurl">{{.IPInfo}}</h2></h2>

            </div>
    </body> 
</html>