<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.app__heading {
    padding-top: 2%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
    word-break: break-all;
}

h3 {
    text-align: center;
}

a {
color: white;
}
.url {
color: yellow;
}

.smurl{
    text-align: center;
    color: yellow;
    }

.app__url-converter {
    width: 70%;
    margin: auto;;
    padding: 5%;
}

input {
    max-width: 100%;
    padding: 10px;
    font-size: 18px;
    position: inherit;
    display: block;
    width: -webkit-fill-available;
    border: 0px;
}

button {
    margin-top: 10px;;
    width: 100%;
    padding: 11px;
    font-size: 26px;
    background: #5f1b00;
    color: #fff;
    border: 0px;
}
button:hover{
    background: red;
}
button:active{
    color: black;
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
    </style>
    <title>Statistics</title>
</head>
    <body>
    <div class="wrapper">
    <div class="content">
        <div class="app__container">
            <div class="app__heading">
                <h1><a href="{{ .URL}}">SMURL - service to shortify long urls</a></h1>
            </div><br><br><br><br><br>
            
            <div>
            <h2>Small URL:</h2><br>
            <h2 class="smurl"><a class="url" href="{{.SmallURL}}">{{.SmallURL}}</a></h2><br>
            <h2>Long URL:</h2><br>
            <h2 class="smurl"><a class="url" href="{{.LongURL}}">{{.LongURL}}</a></h2><br>
            <h2>Admin URL:</h2><br>
            <h2 class="smurl">{{.AdminURL}}</h2><br>
            <h2>Count:</h2><br>
            <h2 class="smurl">{{.Count}}</h2><br>
            <h2>IP Info:</h2><br>
            <h2 class="smurl">{{.IPInfo}}</h2>

            </div>
            </div>
            </div>
             <div class="footer">
          <footer>
            <h3>(c) sanyarise   <a href="https://github.com/sanyarise"><img src="/static//images/2.png"></a></h3>
          </footer>
          </div>
          </div>
    </body> 
</html>